@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.cells_border{
  display: inline-block;
  vertical-align:top;
  height: 640px;
  width: 640px;
}

.text{
  display: inline-block;
  vertical-align:top;
  height: 640px;
  width: 60px;
}

.cell{
  display: inline-block;
  vertical-align:top;
  height: 80px;
  width: 80px;
  margin: 0;
  padding: 0;
  color: black;
  border: 1px solid black;
  background-color: white;
  background-image: none;
  backface-visibility: visible;
  position: relative;
}

.cell:hover{
  background-color: red;
}

.row{
  display: block;
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background-image: none;
  backface-visibility: visible;
}

.stone {
  display: table-cell;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 0px;
  color: black;
  font-size: 9pt;
  text-align: center;
  vertical-align: middle;
}
.stone.black {
  background-color: black;
  color: white;
}

.stone.white {
  background-color: white;
  border:1px solid black;
}

.cell.Placeable{
  background: gray;
}

.cell.Placed{
  background: green;
}

.cell.Changed{
  background: lightgrey;
}
